body {
  background-color: #282a36;
  font-family: Verdana, sans-serif;
  font-size: 22px;
}

header {
  background-color: #6272a4;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

header h1 {
  color: #50fa7b;
  margin-top: 0%;
  margin-bottom: 1%;
}

header p {
  font-style: italic;
  color: ghostwhite;
}

main section {
  background-color: blueviolet;
  border: 2px solid #ff5555;
  border-radius: 20%;
  text-align: center;
  width: 70%;
  margin: 11% 15%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#texto-tarefa {
  background-color: ghostwhite;
  color: #44475a;
  font-size: 0.9em;
  width: 50%;
  padding: 1%;
  outline: none;
}

#texto-tarefa:focus {
  background-color: #e7edab;
  color: #ff5555;
}

#criar-tarefa {
  width: 25%;
  background-color: #50fa7b;
  border: none;
  color: #282a36;
  font-size: 1em;
  font-weight: 600;
  margin-left: 1%;
  cursor: pointer;
}

#lista-tarefas {
  list-style-position: inside;
  color: wheat;
  line-height: 1.5em;
}

.completed {
  text-decoration: line-through solid black;
}

#salvar-tarefas {
  width: 28%;
  background-color: cadetblue;
  border-radius: 15%;
  color: black;
  font-size: 1em;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-right: 2%;
}

#remover-finalizados {
  width: 28%;
  background-color: rgb(9, 9, 169);
  border-radius: 15%;
  color: ghostwhite;
  font-size: 1em;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-left: 2%;
  margin-right: 2%;
}

#remover-selecionado {
  width: 28%;
  background-color: #f1fa8c;
  border-radius: 15%;
  color: #282a36;
  font-size: 1em;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-left: 2%;
}

#apaga-tudo {
  width: 28%;
  background-color: #ffb86c;
  border-radius: 15%;
  color: #282a36;
  font-size: 1em;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 2%;
}

footer {
  background-color: #6272a4;
  margin-bottom: 0%;
  padding-top: 5%;
  padding-bottom: 5%;
}

footer span {
  display: block;
  font-size: 1em;
  text-align: center;
  color: ghostwhite;
}

footer span a {
  color: #50fa7b;
  text-decoration: none;
}

#heart {
  color: #ff5555;
  display: inline;
}

footer span a:hover {
  color: #ec6948;
  font-size: 0.95em;
}
