* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected {
  background-color: rgb(128, 128, 128);
}

.completed {
  text-decoration: line-through black;
}