header{
    background-color: rgb(196, 190, 169);

}
body{
    background-color: rgb(211, 211, 104);
}
.selected {
    background-color: rgb(128, 128, 128);
  } 

.completed{
    text-decoration: line-through solid black;
}
