body {
  background-color: rgb(123, 168, 185);
}

header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

#funcionamento {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: italic;
  
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

#todosOsElementos {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.greyElement {
	background-color: gray;
  border-radius: 5px;
}

.completed {
	text-decoration: line-through solid black;
}

button {
  padding: 5px 15px 5px 15px;
  border-radius: 6px;
  border-color: white;
  color: white;
  font-size: 15px;
  margin-right: 10px;
}

#remover-selecionado , #apaga-tudo {
  background-color: rgb(187, 42, 42);
}

#mover-cima , #mover-baixo {
  background-color: rgb(3, 1, 20);
}

#criar-tarefa {
  background-color: rgb(25, 95, 141);
}

#remover-finalizados {
  background-color: rgb(156, 133, 1);
}

#salvar-tarefas {
  background-color: rgb(62, 126, 62);
}
