body {
  font-family: Geneva, Verdana, sans-serif;
}

#tarefa {
  text-align: center;
  font-size: 25px;
  background-color: rgb(0, 152, 163);
}

#funcionamento {
  text-align: center;
}

#texto-tarefa {
  display: inline-block;
  margin: auto;
}

img.displayer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  text-align: center;
  background:rgb(0, 152, 163);
  margin: 0px 40px 0px 40px;
  padding: 10px;
}