body {
  align-items: center;
  background-color: #333;
  color: white;
  display: flex;
  flex-flow: column wrap;
  font-family: Montserrat, sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}

main {
    width: fit-content;
    margin-left: 0%;
    align-items: center;
}
header {
  font-size: 50px;  
  margin: 0%;  
}
#funcionamento {
  font-size: 10px;
  background-color: black;
  width: fit-content;
  margin-left: 20%;
}

.button-and-input {
  margin-left: 700px;
  display:inline-block;
}

#texto-tarefa {
  height: 20px;
  width: 200px;
  border-radius: 10px;
  margin-left: 90px;
}
#button {
 background-color: black;
 font-style: italic;
 color: aqua;
 opacity: 30%;
}