body{
    background-color: rgb(180, 179, 245);  
      
}
#header{
   font-size: 60px;
   margin-left: 10px;
}
#funcionamento{
  font-size: 30px;
  margin-left: 10px;
}
#texto-tarefa{
  margin-left: 10px; 
  border-color: black;
}   
#lista-tarefas{
    font-size: 20px;
    margin-top: 20px;
}
#criar-tarefa{
    border-color: black;

}
.completed{
  text-decoration: line-through solid rgb(0, 0, 0);
}