body {
  background-color: rgb(240 , 240 , 240);
}

header {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  color: rgb(40 , 40 , 40);
}

#funcionamento {
  font-style: italic;
  color: rgb(138 , 138 , 138);
}

.selected {
  background-color: rgb(128 , 128 , 128);
}

.completed {
  text-decoration: line-through;
}
