body {
  background-color: rgb(197 179 185);
  font-family: sans-serif;
}

#centro {
  background-color: rgb(250, 245, 245);
  border-radius: 30px;
  height: 350px;
  width: 900px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

h1, p, #secao-add, #meio, #botoes {
  margin-left: 30px;
}

