header {
  padding: 35px;
  background-color: rgb(111 , 133 , 255);
  color: white;

}

button {
  padding: 15px;
  border-radius: 15%;
  background-color: teal;
  color: white;

}

header , input , button {
  text-align: center;

}

li {
  font-size: 20px;
  font-family: Georgia, sans-serif;
  margin-left: 40px;
  padding: 20px;

}

.completed {
  text-decoration: line-through solid black;

}

#apaga-tudo , #remover-finalizados {
  background-color: red;

}
