.estDivCriaTarefa {
    background-color: cornflowerblue;
}

.estDivpaiAddTarefa {
    background-color: none;
}

.estInput {
    display: inline-block;
}

.estBtnAdd {
    margin-left: 10px;
    display: inline-block;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(34, 235, 34);
}