body {
  background-color: #282a36;
  font-family: Verdana, sans-serif;
  font-size: 22px;
}

header {
  background-color: #6272a4;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

header h1 {
  color: #50fa7b;
  margin-top: 0%;
  margin-bottom: 1%;
}

header p {
  font-style: italic;
  color: ghostwhite;
}

main section {
  background-color: blueviolet;
  border: 5px solid #ff5555;
  border-radius: 20%;
  text-align: center;
  width: 70%;
  margin: 11% 15%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#texto-tarefa {
  background-color: ghostwhite;
  color: #44475a;
  font-size: 0.9em;
  width: 50%;
  margin-bottom: 0.7%;
  padding: 1%;
  outline: none;
}

#texto-tarefa:focus {
  background-color: #e7edab;
  color: #ff5555;
}

#criar-tarefa {
  background-color: #50fa7b;
  border-radius: 40%;
  border: none;
  color: #282a36;
  cursor: pointer;
  width: 23%;
  font-size: 1em;
  font-weight: 600;
  margin-left: 1%;
  padding: 0.4%;
}

#criar-tarefa:hover {
  background-color: rgb(148 , 174 , 103);
  color: ghostwhite;
  font-size: 1.1em;
}

#lista-tarefas {
  list-style-position: inside;
  color: wheat;
  line-height: 1.5em;
}

.completed {
  text-decoration: line-through solid 3px #f33737;
}

#salvar-tarefas {
  background-color: cadetblue;
  border-radius: 15%;
  border: none;
  color: ghostwhite;
  cursor: pointer;
  width: 28%;
  font-size: 0.95em;
  font-weight: 600;
  margin-right: 2%;
  padding: 1%;
}

#salvar-tarefas:hover {
  background-color: rgb(138 , 176 , 177);
  color: black;
  font-size: 1em;
}

#remover-finalizados {
  background-color: rgb(9 , 9 , 169);
  border-radius: 15%;
  border: none;
  color: ghostwhite;
  cursor: pointer;
  width: 28%;
  font-size: 0.95em;
  font-weight: 600;
  margin-left: 2%;
  margin-right: 2%;
  padding: 1%;
}

#remover-finalizados:hover {
  background-color: rgb(55 , 55 , 208);
  color: wheat;
  font-size: 1em;
}

#remover-selecionado {
  background-color: #f1fa8c;
  border-radius: 15%;
  border: none;
  color: #282a36;
  cursor: pointer;
  width: 28%;
  font-size: 0.95em;
  font-weight: 600;
  margin-left: 2%;
  padding: 1%;
}

#remover-selecionado:hover {
  background-color: #d1d699;
  color: #44475a;
  font-size: 1em;
}

#apaga-tudo {
  background-color: #ffb86c;
  border-radius: 15%;
  border: none;
  color: #282a36;
  cursor: pointer;
  width: 30%;
  font-size: 0.95em;
  font-weight: 600;
  margin-top: 3%;
  margin-right: 1%;
  padding: 1%;
}

#apaga-tudo:hover {
  background-color: #ed9f4c;
  color: ghostwhite;
  font-size: 1em;
}

.moveBtns {
  background-color: #3c3f4f;
  border-radius: 15%;
  border: none;
  cursor: pointer;
  width: 5%;
  font-size: 0.95em;
  margin-top: 3%;
  margin-left: 1%;
  padding: 1%;
}

.moveBtns:hover {
  background-color: ghostwhite;
  font-size: 1em;
}

footer {
  background-color: #6272a4;
  margin-bottom: 0%;
  padding-top: 5%;
  padding-bottom: 5%;
}

footer span {
  display: block;
  font-size: 1em;
  text-align: center;
  color: ghostwhite;
}

footer span a {
  color: #50fa7b;
  text-decoration: none;
}

#heart {
  color: #ff5555;
  display: inline;
}

footer span a:hover {
  color: #ec6948;
  font-size: 0.95em;
}
