body {
  margin: 0;
  background-color: rgb(255, 252, 208);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(82, 82, 82);
}

#container {
  width: 1000px;
  margin: 0 auto;
  background-color:rgb(220, 234, 238);
  padding: 40px;
  height: 100%;
}

h1 {
  font-size: 30px;
  margin: 0;
}

#list-container {
  background-color: white;
  border-radius: 30px;
  padding: 20px;
}

#buttons-container {
  float: right;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
}

button {
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(220, 234, 238);
}

input {
  padding: 10px;
  border-radius: 20px;
  width: 300px;
}
