* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: silver;
  display: flex;
  min-height: 100vh;
  min-width: 100vh;
  align-items: center;
  justify-content: center;
}

main {
  background-color: white;
  border-radius: 10px;
  height: 25rem;
  width: 50rem;
  position: relative;
}

#cabecalho {
  position: absolute;
  margin: 2rem;
}

#section-1 {
  position: absolute;
  margin: 2rem;
  margin-top: 7rem;
}

#texto-tarefa {
  border: 1px solid black;
}

#criar-tarefa {
  border-radius: 10px;
  height: 2rem;
  width: 6rem;
  background-color:silver;
}

#section-2 {
  position: absolute;
  margin: 2rem;
  margin-top: 11rem;
}