.content {
    background-color: rgb(78, 109, 73);
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
}
#cabecalho {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#criar-tarefa {
    border-radius: 5px;
    background-color: blue;
}
#texto-tarefa {
    border-radius: 5px;
}