body {
  background-color: rgb(76 , 175 , 80);
  font-family: sans-serif;
  
}

#content {
  margin: 20px;
  padding: 10px 20px 20px;
  border-radius: 30px;
  text-align: left;
  background-color: white;
}

button {
  border: none;
  color: black;
  border-radius: 30px;
  padding: 6px 32px;
  font-size: 16px;
  cursor: pointer;
}

#remover-selecionado , #apaga-tudo {
  background-color: rgb(244 , 67 , 54);
  color: white;
}

#mover-cima , #mover-baixo {
  background-color: rgb(231 , 231 , 231);
  color: black;
}

#criar-tarefa , #remover-finalizados {
  background-color: rgb(0 , 140 , 186);
  color: white;
}

#salvar-tarefas {
  background-color: rgb(76 , 175 , 80);
  color: white;
}

.selected {
  background-color: rgb(128 , 128 , 128);
  user-select: none;
}

.completed {
  text-decoration: line-through;
  user-select: none;
}
